arabic-reshaper
bcrypt
cachetools
openpyxl
xlsxwriter
pandas
pdfplumber
psycopg2-binary
pydantic-settings
PySide6
PySide6-WebEngine
python-bidi
python-dotenv
reportlab
SQLAlchemy>=2.0.0
qtawesome
pytest
pytest-qt
thefuzz
python-Levenshtein
paddleocr
paddlepaddle
python-json-logger
python-barcode
python-multipart
python-jose
pyyaml
shiboken6
