arabic-reshaper==3.0.1
bcrypt==5.0.0
cachetools==7.1.4
openpyxl==3.1.5
pandas==3.0.3
pdfplumber==0.11.10
psycopg2-binary==2.9.12
pydantic-settings==2.14.2
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
python-bidi==0.6.10
python-dotenv==1.2.2
reportlab==5.0.0
SQLAlchemy==2.0.51
qtawesome==1.4.2
pytest==9.1.1
pytest-qt==4.5.0
thefuzz
python-Levenshtein
paddleocr
paddlepaddle
